extends layouts/_layout.pug

block variables
	- var activePage = '500error';
	- var activeGroup = '500error';

block title
	title Sample App

block content
	.app-title
		div
			h1
				i.fa.fa-dashboard
				|	Error
			p Start a beautiful journey here

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='#') Error

	.row
		.col-md-12
			.tile
				.tile-body Error


					.content.slide
						ul.responsive
							//li.header-section
							//	//p.placefiller HEADER
							//	label(for='header' font-size='20px') İş Takibi
							li.body-section
								//p.placefiller BODY
								.container
									.tab-wrap
										style.
											.goButton {
												width: 60%;
												background-color: #4CAF50;
												color: white;
												padding: 14px 20px;
												margin: 8px 0;
												border: none;
												border-radius: 4px;
												cursor: pointer;
												margin-left:20%;
											}
										style.
											.goError {
												width: 40%;
												padding: 14px 20px;
												margin: 8px 0;
												border-radius: 4px;
												border: dashed;
												word-break: break-all;
											}
										h1
											strong 500 Internal Server Error
										p
											strong Oops :(
										p
											strong Something went wrong.
										textarea(class="goError",rows='10',readonly) #{errorDetails}
										- if (!rateLimit)
											form(action='/')
												button(class="goButton",type='Submit') HOME
										p(style='text-align: right;') &nbsp;
										p(style='text-align: right;') &nbsp;
										p(style='text-align: right;') &nbsp;
										p(style='text-align: right;')
											strong
												img(src="/static/images/duck.png")


















